<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head/_metadata")%>

  <%- include("./partials/head/_title")%>

  <%- include("./partials/head/_links")%>

</head>

<body>

  <!-- Preloader -->
  <!-- <%- include("./partials/body/_preloader")%> -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
      <%- include("./partials/body/_main_header")%>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
   <%- include("./partials/body/_welcome_slides")%>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** Latest Episodes Area Start ***** -->
  <%- include("./partials/body/_latest_episodes")%>

    <!-- Shows Menu -->
    <%- include("./partials/body/_shows_menu")%>

    <!--
      Actual podcasts episodes here
    -->
    <%- include("./partials/body/_shows_episodes")%>

    <%- include("./partials/body/_shows_episodes_status")%>
  </section>
  <!-- ***** Latest Episodes Area End ***** -->

  <!-- ***** Management Area Start ***** -->
  <section class="featured-guests-area">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
          <div class="col-12">
                <div class="section-heading text-center">
                  <h2>DC Talk Management Team</h2>
                <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
      <%- include("./partials/body/_management_team")%>
  </section>
  <!-- ***** Management Area End ***** -->
      
  <!-- ***** Production Area Start ***** -->
  <!-- <section class="featured-guests-area">
    <div class="container">
      <div class="row"> -->
        <!-- Section Heading -->
        <!-- <div class="col-12">
          <div class="section-heading text-center">
            <h2>DC Talk Production Team</h2>
            <div class="line"></div>
          </div>
        </div>
      </div> -->

     <%- include("./partials/body/_production_team")%>
  </section>
 <!-- ***** production Area End ***** -->

  <!-- ***** Newsletter Area Start ***** -->
  <%- include("./partials/body/_newsletter")%>
  <!-- ***** Newsletter Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">About Us</h4>

            <p>Your Issue Our Concern</p>
          <div class="copywrite-content">
              <p>&copy; 

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | powered with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.microtechcloudsolutions.co.zm" target="_blank">MicroTech Cloud Solutions</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Categories</h4>

            <!-- Catagories Nav -->
            <nav>
              <ul class="catagories-nav">
                <li><a href="podcasts?category=business">Business</a></li>
                <li><a href="podcasts?category=health">Health</a></li>
                <li><a href="podcasts?category=entertainment">Entertainment</a></li>
                <li><a href="podcasts?category=technology">Technology</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Lastest Episodes</h4>

            <!-- Single Latest Episodes -->
            <!-- <div class="single-latest-episodes">
              <p class="episodes-date">December 9, 2018</p>
              <a href="#" class="episodes-title">Episode 205 - See Ya In Three!</a>
            </div> -->
            <!-- Single Latest Episodes -->
            <!-- <div class="single-latest-episodes">
              <p class="episodes-date">December 8, 2018</p>
              <a href="#" class="episodes-title">Episode 204 - See Ya In Two!</a>
            </div> -->
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Follow Us</h4>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.facebook.com/DCTalkRadio" target="_blank" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/DC_TalkRadio?s=08
              " class="twitter" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <!-- <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a> -->
              <a href="https://www.instagram.com/dc_talkradio" target="_blank" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <!-- <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a> -->
            </div>
            <!-- App Download Button -->
            <div class="app-download-button mt-30">
              <!-- <a href="#"><img src="./img/core-img/app-store.png" alt=""></a> -->
              <!-- <a href="#"><img src="./img/core-img/google-play.png" alt=""></a> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <%- include("./partials/alljs")%>
</body>

</html>